@font-face {
    font-family: "SF Pro Regular";
    src: url("/fonts/SF-Pro-Display-Regular.otf");
}
.border-secondary{
    border-color: darkgrey;
    border-radius: 7px;
}
.button-position{
    margin-top: 18vh;
}
.card{
    height: 60vh;
    box-shadow: 3px 4px 6px rgba(143, 141, 141, 0.25);
}
.choose-sportsman-button{
    font-size: 15pt!important;
    width: 99%;
    padding-top: 1%!important;
    padding-bottom: 1%!important;
}
.cover-container{
    height: 100vh;
    background-color: white;
}
.custom-button{
    box-shadow: 3px 3px 3px darkgrey;
    background: #3E9DF9;
    border: 0;
    border-radius: 7px;
    color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 28pt;
}
.custom-button:hover {
    background-color: #0282ff;
}
.font-settings{
    font-family: SF Pro Regular;
}
.card-text{
    font-size: 32pt;
}
.title-position{
    margin-top: 10vh;
}
.sign-in-button{
    font-size: 18pt;
    width: 83%;
}
.sign-in-title{
    font-size: 18pt;
}
.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
}

