@font-face {
    font-family: "SF Pro Regular";
    src: url("/fonts/SF-Pro-Display-Regular.otf");
}
.another-button{
    border: 3px solid #3E9DF9!important;
    background: #ffffff!important;
    color: #3E9DF9!important;
    border-radius: 7px;
}
.another-button:hover{
    background-color: #0282ff!important;
    color: #ffffff!important;
}
.border-3{
    border: solid darkgrey!important;
    border-radius: 7px;
}
.button-position{
    margin-top: 18%;
    margin-bottom: 10%;
}
.card{
    height: 60%;
    box-shadow: 3px 4px 6px rgba(143, 141, 141, 0.25);
}
.choose-sportsman-button{
    font-size: 15pt!important;
    width: 99%;
    padding-top: 1%!important;
    padding-bottom: 1%!important;
}
.cover-container{
    height: 100vh;
    background-color: white;
}
.custom-button{
    box-shadow: 3px 3px 3px darkgrey;
    background: #3E9DF9;
    border: 3px solid #3E9DF9!important;
    border-radius: 7px;
    color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 28pt;
}
.custom-button:hover {
    background-color: #0282ff;
}
.edit-input{
    width: 100px;
}
.edit-btn{
    width: 160px;
    box-shadow: 3px 3px 3px darkgrey;
    background: #FFFFFF;
    border: 3px solid #3E9DF9!important;
    border-radius: 7px;
    color: #3E9DF9;
}
.edit-btn:hover{
    color: #FFFFFF;
    background: #3E9DF9;
}
.error{
    border: 3px solid rgba(255, 0, 0, 0.35);
    border-radius: 7px;
    background-color: rgba(255, 0, 0, 0.11);
    font-size: 10.5pt!important;
    padding-top: 1%;
    padding-bottom: 1%;
}
.font-settings{
    font-family: SF Pro Regular;
}
.card-text{
    font-size: 32pt;
}
.list-group{
    border-radius: 7px;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item:hover{
    background-color: #f6f6f6;
}
.title-position{
    margin-top: 10%;
}
.scroll{
    height: 245px;
    overflow-y: scroll;
}
.search-hide{
    display: none!important;
}
.sign-in-button{
    font-size: 18pt;
    width: 83%;
}
.sign-in-title{
    font-size: 18pt;
}
.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
}
.table-header{
    font-weight: bold;
}